include ../mixins/sub-menu.pug
header.header 
    .container
        .row.align-items-center 
            .col-3
                .inner-logo
                    a(href='/')
                        img(src=settingGeneral.logo,alt=settingGeneral.websiteName)
            .col-5
                form(
                    action = `/search`
                    method="GET"
                )
                    div(class = "form-group d-flex mb-0")
                        input(
                            type="text"
                            placeholder= "Nhập từ khoá"
                            class= "form-control"
                            name="keyword"
                        )
                        button(
                            type="submit"
                            class="btn btn-primary"
                        ) Tìm kiếm
            .col-4
                .inner-menu
                    ul
                        li
                            a(href="/") Trang chủ
                        li(class="sub-menu")
                            -const pathProduct = "/product"
                            a(href=pathProduct) Sản phẩm
                            +sub-menu(categories,pathProduct)
                        li
                            a(href ="/cart") Giỏ hàng (#{miniCart?  miniCart.totalQuantity:0 })
                        if(user)
                            li 
                                a(href="/user/logout") Đăng xuất
                            //- li 
                            //-     a(href="/chat") Chat    
                            li 
                                a(href="/users/friends") Bạn bè       
                            li 
                                a(href="/rooms-chat") Phòng chat                                                                                
                            li 
                                a(href="/user/infor") #{user.fullName}                                
                        else
                            li 
                                a(href="/user/register") Đăng ký
                            li 
                                a(href="/user/login") Đăng nhập
