extends ../../layouts/default.pug

block main
    if(category.title)
        h1(class = "mb-4") #{category.title}
    if(category.thumbnail)
        div(class = "mb-4")
            img(src = category.thumbnail style = "width:100px")
    if(category.description)
        div(class = "mb-4") !{category.description}
    a(
        href =`${prefixAdmin}/product-category/edit/${category.id}`
        class= "btn btn-warning"
    ) Chỉnh sửa
    <script src="/admin/js/product.js"></script>