extends ../../layouts/auth.pug
include ../../mixins/alert.pug

block main
    +alert-error(5000)

    .container.my-5
        .row.justify-content-center
            .col-12.col-md-6
                h1.text-center.mb-4 Đăng nhập
                form(
                    action=`${prefixAdmin}/auth/login`
                    method="POST"
                )
                    .form-group
                        label(for="email") Email
                        input(
                            type="email"
                            class="form-control"
                            id="email"
                            name="email"
                            required
                        )

                    .form-group.mt-3
                        label(for="password") Mật khẩu
                        input(
                            type="password"
                            class="form-control"
                            id="password"
                            name="password"
                            required
                        )
                    .form-group.mt-4
                        button(
                            type="submit"
                            class="btn btn-primary w-100"
                        ) Đăng nhập
