
mixin table-tree(items, level=1)
    each item in items
        - const prefix = Array(level+1).join("-- ")
        tr
            td 
                input(type ="checkbox" name = "id" value=item.id)
            td #{item.index}
            td 
                img(src=item.thumbnail, alt=item.title width="100px" height="auto")
            td #{prefix}#{item.title}
            td
                input(
                    type = "number"
                    name = "position"
                    value = item.position
                    min = "1"
                    style = "width : 60px"
                )
            td
                if(item.status =="active")
                    a(
                        href="javascript:;" 
                        data-status = item.status
                        data-id = item.id
                        button-change-status
                        class="badge bg-success"
                    ) Hoạt động
                else 
                    a(
                        href="javascript:;" 
                        data-status = item.status
                        data-id = item.id
                        button-change-status
                        class="badge bg-danger"
                    ) Dừng hoạt động
            td 
                a(class="btn btn-warning btn-sm" href = `${prefixAdmin}/product-category/edit/${item.id}`) Sửa
                a(class="btn btn-secondary btn-sm" href = `${prefixAdmin}/product-category/detail/${item.id}`) Chi tiết
                button(
                    class="btn btn-danger btn-sm"
                    button-delete
                    data-id = item.id
                    ) Xoá
        if item.children && item.children.length > 0
            +table-tree(item.children,level+1)
            